# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = myproject.settings

[deploy]
url = http://scrapyd:6800/
project = myproject

[deploy:another]
url = http://scrapyd:6800/
project = myproject-copy
